<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SPO 01 - 2014_02_04/src/spo/opg2_simple/Program.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="spo.opg2_simple.Program"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SPO 01 - 2014_02_04"/>
</launchConfiguration>
